#active-to-do {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#active-to-do > h2 {
  width: 100%;
}
.active-form {
  width: 80%;
  margin: 10px 0;
}
.active-label {
  width: 85%;
  margin-left: 10px;
}
.active-button {
  width: 15%;
}
.complete {
  text-decoration: line-through;
}